<!DOCTYPE html>
<html>
<head>
    <title>Kivi-Paperi-Sakset</title>
</head>
<body>
    <h1>Tervetuloa pelaamaan Kivi-Paperi-Sakset!</h1>
    <form action="/valitse_peli" method="post">
        <label>Valitse pelimuoto:</label><br>
        <input type="radio" name="valinta" value="a"> Ihmistä vastaan<br>
        <input type="radio" name="valinta" value="b"> Tekoälyä vastaan<br>
        <input type="radio" name="valinta" value="c"> Parannettua tekoälyä vastaan<br>
        <button type="submit">Aloita peli</button>
    </form>
</body>
</html>